* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* region header*/
.container {
    width: 80%;
    margin: auto;
}
.bg-skyblue {
    background-color: skyblue;
}
.d-flex {
    display: flex;
}

.header_1, .header_2, .header_3{
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px dashed;
    background-color: yellow;
    
}

.header_1{
    width: 25%;
}
.header_2 {
    width: 50%;
}
.header_3{
    width: 25%;
}
/* region header*/

/* region header part 2*/
.bg-blue {
    background-color: blue;
}

.header_p2{
    width: 100%;
    background-color: pink;
    padding: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px dashed;
}
/* region header part 2*/

/* region main part 1*/
.bg-white{
    background-color: white;
}

.main_1, .main_2{
    padding: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px dashed;
}

.main_1{
    width: 60%;
    background-color: skyblue;
}

.main_2{
    width: 40%;
    background-color: pink;
}
/* region main part 1*/

